
.App-header {
    background-color: #1E6140;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.Container {
    max-width: 1420px;
    margin: 0 auto;
}

.Header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.Header__menu-list {
    display: flex;
    position: relative;
    justify-content: space-around;
    max-width: 900px;
}

.Header__menu-list:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    right: 0;
    opacity: .5;
    background-color: #ffffff;
}


.Header__list-item:hover {
    background-color: #347153;
}


.Header__list-item {
    padding: 14px 23px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


/* Контейнер меню */
.Header__list-item:first-child {
    position: relative;
}

.Header__list-item:first-child::after {
    content: '';
    position: absolute;
    background-image: url("images/arrow.svg");
    right: 5px;
    top: 22px;
    height: 7px;
    width: 12px;
    background-repeat: no-repeat;
}

/* Випадаюче меню */
.About__us-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 215px;
    background-color: #347153;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Поява меню при наведенні */
.Header__list-item:first-child:hover .About__us-menu {
    opacity: 1;
    height: 133px;
    transform: translateY(0);
}

.Header__list-item:first-child:hover.Header__list-item:first-child::after {
    transform: rotate(180deg);
    transition: .5s;
}

.Header__list-item:first-child:Not(:hover).Header__list-item:first-child::after {
    transform: rotate(360deg);
    transition: .5s;
}

/* Елементи меню */
.About__us-menu li {
    padding: 12px 16px;
    color: #fff;
    padding-left: 30px;
    transition: background-color 0.2s ease, padding-left 0.2s ease;
}

.About__us-menu li:hover {
    background-color: rgba(0, 0, 0, 0.15);
    /*padding-left: 22px;*/
}

.Header-registration {
    display: flex;
    justify-content: space-between;
    width: 140px;
    padding-left: 33px;
    position: relative;

}

.Header-registration a {
    cursor: pointer;
    padding: 7px 7px 3px;
    border-bottom: 1px solid transparent;
    line-height: 24px;
}

.Header-registration a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.Header-registration::before {
    content: '';
    background-image: url("images/enter.svg");
    position: absolute;
    width: 17px;
    height: 17px;
    left: 18px;
    top: 8px;
    cursor: pointer;
}

.Header-registration a::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 1px;
    height: 17px;
    right: 90px;
    top: 8px;
    cursor: auto;
}