.App-header {
    background-image: url("images/bg1.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

}

.Container {
    max-width: 1420px;
    margin: 0 auto;

}

.Header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #1E6140;
    color: #ffffff;
}

.Header__menu-list {
    display: flex;
    position: relative;
    justify-content: space-around;
    max-width: 900px;
}

.Header__menu-list:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    right: 0;
    opacity: .5;
    background-color: #ffffff;
}


.Header__list-item:hover {
    background-color: #347153;
}


.Header__list-item {
    padding: 17px 23px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


/* Контейнер меню */
.Header__list-item:first-child {
    position: relative;
}

.Header__list-item:first-child::after {
    content: '';
    position: absolute;
    background-image: url("images/arrow.svg");
    right: 5px;
    top: 20px;
    height: 7px;
    width: 12px;
    background-repeat: no-repeat;
}

/* Випадаюче меню */
.About__us-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 215px;
    background-color: #347153;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Поява меню при наведенні */
.Header__list-item:first-child:hover .About__us-menu {
    opacity: 1;
    height: 133px;
    transform: translateY(0);
}

.Header__list-item:first-child:hover.Header__list-item:first-child::after {
    transform: rotate(180deg);
    transition: .5s;
}

.Header__list-item:first-child:Not(:hover).Header__list-item:first-child::after {
    transform: rotate(360deg);
    transition: .5s;
}

/* Елементи меню */
.About__us-menu li {
    padding: 12px 16px 16px 30px;
    color: #fff;
    transition: background-color 0.2s ease, padding-left 0.2s ease;
}

.About__us-menu li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.Header-registration {
    display: flex;
    justify-content: space-between;
    width: 140px;
    padding-left: 33px;
    position: relative;

}

.Header-registration a {
    cursor: pointer;
    padding: 7px 7px 3px;
    border-bottom: 1px solid transparent;
}

.Header-registration a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.Header-registration::before {
    content: '';
    background-image: url("images/enter.svg");
    position: absolute;
    width: 17px;
    height: 17px;
    left: 18px;
    top: 8px;
    cursor: pointer;
}

.Header-registration a::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    width: 1px;
    height: 17px;
    right: 90px;
    top: 8px;
    cursor: auto;
}

.footer {
    height: 523px;
    text-align: center;
    position: relative;
    padding-bottom: 17px;
}

.copyright {
    margin-top: 34px;
    font-size: 14px;
    color: #00000099;
}

.copyright:before {
    content: '';
    display: block;
    /*position: absolute;*/
    height: 1px;
    width: 1110px;
    background-color: #347153;
    /*right: 0;*/
    /*bottom: 34px;*/
    /*left: 0;*/
    margin: 0 auto 34px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 120px 0 135px;
}

.footer__text-logo {

}

.footer-logo {
    background-image: url("images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 109px;
    height: 49px;
}

.footer-text {
    max-width: 221px;
    color: #00000099;
}

.footer-info li:first-child {
    padding-bottom: 12px;
    font-weight: bold;
}

.footer-list li + li {
    margin: 12px 2px;
}

.footer-list {
    width: 225px;
}

.footer-products li:first-child {
    padding-bottom: 12px;
    font-weight: bold;
}

.footer-contacts li:first-child {
    padding-bottom: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-contacts__feedback {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 18px;
    padding: 12px 0 6px 0;
    cursor: pointer;
}


.footer-contacts__feedback:before {
    content: '';
    background-image: url("images/call-me.svg");
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -46px;
    top: 0;
}

.footer-contacts__feedback:after {
    content: '';
    position: absolute;
    background-image: url("images/arrow.svg");
    right: 60px;
    top: 15px;
    height: 7px;
    width: 12px;
    background-repeat: no-repeat;
}


.footer-contacts__feedback:hover.footer-contacts__feedback:after {
    transform: rotate(180deg);
    transition: .5s;
}

.footer-contacts__feedback:Not(:hover).footer-contacts__feedback:after {
    transform: rotate(360deg);
    transition: .5s;
}

.footer-contacts__feedback:hover .call__me-back {
    opacity: 1;
    height: 133px;
    transform: translateY(0);
    color: #84BE51;
    text-decoration: underline;

}

.call__me-back {
    position: absolute;
    top: 100%;
    left: 3px;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

.footer-contacts__email {
    max-width: 1420px;
    margin: 0 auto;
    position: relative;
    padding: 17px 0;
    cursor: pointer;
}

.footer-contacts__email:before {
    content: '';
    background-image: url("images/mail-me.svg");
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: -46px;
    top: 5px;
}

.list__img{
    background-image: url("images/heart.svg");
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
}

ul.list__img:hover{
    fill: red;
}