
.App-header {
    background-color: #1E6140;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.Container {
    max-width: 1420px;
    margin: 0 auto;
}

.Header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.Header__menu-list {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    padding-right: 30px;
}

.Header__list-item {
    padding: 15px 20px;
    transition: .5s;
}

.Header__list-item:hover {
    background-color: #347153;
}


.Header__list-item {
    padding: 15px 23px;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: pointer;
}

.Header__list-item:hover {
    background-color: #347153;
}

/* Контейнер меню */
.Header__list-item-menu {
    position: relative;
}
.Header__list-item-menu::after{
    content: '';
    position: absolute;
    background-image: url("images/arrow.svg");
    right: 5px;
    top: 22px;
    height: 7px;
    width: 12px;
    background-repeat:no-repeat ;
}

/* Випадаюче меню */
.About__us-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 215px;
    background-color: #347153;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Поява меню при наведенні */
.Header__list-item-menu:hover .About__us-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/* Елементи меню */
.About__us-menu li {
    padding: 12px 16px;
    color: #fff;
    transition: background-color 0.2s ease, padding-left 0.2s ease;
}

.About__us-menu li:hover {
    background-color: rgba(0, 0, 0, 0.15);
    padding-left: 22px;
}

.Header-registration {
    padding-left: 30px;
    position: relative;
}

.Header-registration::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 70px;
    left: -9px;
    top: -25px;
    opacity: .5;
    background-color: #ffffff;

}